.PriceTicker {
  border: 3px solid blueviolet;
  border-radius: 4px;
  margin: 30px;
  padding: 2px;

  &Row {
    border: 3px solid gold;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 2px;
  }
  &-btn {
    background-color: lightseagreen;
    border: 3px solid teal;
    border-radius: 4px;
    color: whitesmoke;
    margin: 10px auto;
  }
}
